<header>

    <div class="container padding-bottom-15 padding-top-15">

        <div class="flex flex-align-center">

            <div class="logo-wrapper flex flex-align-center flex-1">

                <div class="margin-right-10">
                    <img src="assets/images/logo.png" />
                </div>

                <div>
                    <h1>Swamp</h1>
                </div>

            </div>

            <div class="header-menu">
                <div class="header-menu-large hidden-sm hidden-xs">
                    <ul class="list-unstyled flex">
                        <li>
                            <a ui-sref="install">Install</a>
                        </li>
                        <li>
                            <a ui-sref="start">Getting Started</a>
                        </li>
                        <li>
                            <a ui-sref="docs">Docs</a>
                        </li>
                        <li>
                            <a ui-sref="changeLog">Change Log</a>
                        </li>
                        <li>
                            <a ui-sref="dashboard">Dashboard</a>
                        </li>
                    </ul>
                </div>

                <div class="header-menu-small hidden-lg hidden-md">

                    <i class="fa fa-align-justify text-28 color-white cursor-pointer"></i>

                </div>
            </div>
        </div>
    </div>
</header>