.scrolled header {

  @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.09));

}

header {

  @include transition(all 200ms);
  z-index: 1000;
  width: 100%;
  background: $lightBlue;
  position: fixed;
  top: 0;
  left: 0;

  .logo-wrapper {

    h1 {
      color: $white;
      font-size: 36px;
      font-weight: 500;
      margin: 0;
    }

  }

  .header-menu {

    .header-menu-large {

      ul {

        padding: 0;
        margin: 0;

        li {

          margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }

          a {
            @include transition(all 200ms);
            cursor: pointer;
            color: $white;
            text-decoration: none;
            font-weight: 100;
            font-size: 14px;

            &:hover {
              @include text-shadow(0 0 20px adjust-lightness($lightBlue, -20%));
            }
          }
        }
      }

    }

    .header-menu-small {

    }

  }
}