.scrolled header {

  @include box-shadow(0 2px 1px rgba(0, 0, 0, 0.09));
  background: #fff;

  .logo-wrapper {
    h1 {
      font-size: 26px;
    }
  }

  .header-menu {
    .header-menu-large {
      ul {
        li {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

header {

  @include transition(all 300ms);
  @include opacity(1);
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .logo-wrapper {

    h1 {
      @include transition(font-size 200ms);
      color: #543729;
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      margin: 0;
    }

  }

  .header-menu {

    .header-menu-large {

      ul {

        padding: 0;
        margin: 0;

        li {
          @include transition(padding 200ms);
          padding-top: 20px;
          padding-bottom: 20px;
          border-top: solid 3px #edb917;

          &:hover {
            border-top: solid 3px #543729;
            background-color: rgba(84, 55, 41, 0.1);
          }

          a {
            cursor: pointer;
            color: #543729;
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            padding: 7px 20px;
          }
        }
      }

    }

    .header-menu-small {
    }

  }
}