.sw-terminal {

  @include border-radius(5px);
  overflow: hidden;
  border: solid 3px #EBEAEF;

  .sw-terminal-buttons {

    background: #EBEAEF;

    i {
      color: #D8D6DF;
      font-size: 12px;
      margin-right: 2px;
    }

  }

  .sw-terminal-content {

    font-size: 14px;
    color: #fff;
    background: #fff;

  }

}