.home-header {
  background-color: $blue;

  .home-poster {
    margin-top: -70px;
  }

  .home-title {

    margin-top: -70px;

    h2 {
      font-style: italic;
      font-weight: 100;
      font-size: 48px;
      color: $white;
    }

    h3 {
      color: $white;
      font-size: 24px;
      font-weight: 100;
      line-height: 32px;
    }
  }

  .home-header-footer {

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: $darkBlue;

  }
}

.home-video {
  background-color: $cool-grey;
  video {
    @include opacity(0.1);
  }
}