.home-header {
  background-color: $logo-yellow;
  background-image: radial-gradient( at 50% 50%, rgba(250,224,107,0.6) 0%,rgba(250,224,107,0) 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 900px;


  .home-title {

    h2 {
      font-weight: 500;
      color: $logo-brown;
    }

    h3 {
      color: $logo-brown;
      font-weight: 100;
    }

  }

  .home-header-footer {

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

  }
}

.why-swamp-terminal {
  min-height: 150px;
}
