.btn {

  @include transition(all 200ms);
  @include border-radius(0px);
  border: solid 2px $logo-brown;
  background: transparent;
  color: $logo-brown;
  font-weight: 100;
  padding: 15px 30px;

  &:hover {
    @include opacity(0.8);
    color: $logo-brown;
    outline: none;
  }

  &:active {
    @include box-shadow(none);
    @include opacity(0.9);
    color: $logo-brown;
    outline: none;
  }

  &:focus {
    @include box-shadow(none);
    color: $logo-brown;
    outline: none;
  }

  &.btn-primary {
    background: $logo-brown;
    color: $white;

    &:hover {
      border: solid 2px $logo-brown;
    }

    &:active {
      border: solid 2px $logo-brown;
    }

    &:focus {
      border: solid 2px $logo-brown;
    }
  }

}