
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
  background: $white;
  color: $cool-grey;
  >div[ui-view] {
  }
}

html {
  overflow-y: scroll;
}

body {
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

pre {
  @include border-radius(0);
  background: transparent;
  border: none;
  font-family: Consolas, Menlo, Courier, monospace;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

span.code {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: #f7f7f7;
  @include border-radius(3px);
  font-family: Consolas, Menlo, Courier, monospace;
}

.app-wrapper {

}