@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

.w300 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300 !important;
}

.w400 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400 !important;
}

.w600 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600 !important;
}

.w700 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700 !important;
}