.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}



.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.fl {
  float: left;
  display: inline-block;
}

.fr {
  float: right;
  display: inline-block;
}

.center {
  margin: 0 auto;
}

.pa,.position-absolute {
  position: absolute;
}

.pr,.position-relative {
  position: relative;
}

.pf {
  position: fixed;
}

.ps {
  position: static;
}

.none {
  display: none;
}

.oh {
  overflow: hidden;
}

.display-block{
  display: block;
}

.display-inline{
  display: inline;
}

.width-max{
  width: 100%;
}

.height-max {
  height: 100%;
}

a.link-no-style, a.link-no-style:hover{
  text-decoration: none;
  color: inherit !important;
}

.underline {
  text-decoration: underline !important;
}

.hand {
  cursor: pointer;
  cursor: hand;
}

.cursor-pointer {
  cursor: pointer;
}

.text-8 {
  @include text-size(8px);
}

.text-10 {
  @include text-size(10px);
}

.text-12 {
  @include text-size(12px);
}

.text-14 {
  @include text-size(14px);
}

.text-13 {
  @include text-size(13px);
}


.text-15 {
  @include text-size(15px);
}

.text-16 {
  @include text-size(16px);
}
.text-17 {
  @include text-size(18px);
}

.text-18 {
  @include text-size(18px);
}

.text-19 {
  @include text-size(19px);
}

.text-20 {
  @include text-size(20px);
}

.text-23 {
  @include text-size(23px);
}

.text-24 {
  @include text-size(24px);
}

.text-25 {
  @include text-size(25px);
}

.text-26 {
  @include text-size(26px);
}

.text-28 {
  @include text-size(28px);
}

.text-30 {
  @include text-size(30px);
}

.text-32 {
  @include text-size(32px);
}

.text-36 {
  @include text-size(36px);
}

.text-40 {
  @include text-size(40px);
}

.text-44 {
  @include text-size(46px);
}

.text-46 {
  @include text-size(46px);
}

.text-50 {
  @include text-size(50px);
}

.text-70 {
  @include text-size(70px);
}


.bold,.text-bold {
  font-weight: bold;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}



.first {
  padding-left: 0;
}

.last {
  padding-right: 0;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-text-top {
  vertical-align: text-top;
}

.opacity-30 {
  @include opacity(0.3);
}

.opacity-50 {
  @include opacity(0.5);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}